* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  background-color: black;
}

.border {
  border: 1px solid #e75551;
}

.blue {
  width: 350px;
  padding: 10px;
  background-color: #308dc0;
  margin-bottom: 40px;
}

.yellow {
  padding: 10px;
  background-color: #ffa500;

}

.box {
  background-color: #ddd;
  padding: 10px;
}
